datasets/
wandb/
1b6-distillation/
1b6-distillation2/
1b6-distillation3/
1b6-distillation4/
1b6-distillation5/
6B-distillation/
6B-distillation1/
6B-SRD-buront/
6B-SRD-buront2/
6B-SRD-buront3/
6B-SRD-buront4/
6B-SRD-nsfw/
6B-SRD-nsfw2/
7B-Novel/
Outputs/
Claude/
OpenAI/
5B-Distillation/
Claude/
OpenAI/
states/
loras/
dataset_box/
myfolder/
amdsmi/
src/__pycache__/
